.header {
  background-color: #19232d;
  .nav-bar {
    padding: 15px 120px 15px 120px;
    .nav-user {
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 999px;
      flex-grow: 1;
      transition: all 0.3s;
      position: relative;
      &:hover {
        background-color: #dcbb87;
        color: white;
        .user-sub-menu {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
      .user-sub-menu {
        position: absolute;
        top: 150%;
        left: -60px;
        width: 150px;
        background-color: #1f2e3c;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        z-index: 9;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;

        li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          &:last-child {
            border-bottom: 0px solid;
          }
          a {
            display: block;
            padding: 10px 20px;
            color: white;
            white-space: nowrap;
            font-weight: 700;
            font-size: 14px;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
              background-color: #dcbb87;
              color: white;
            }
          }
        }
      }
    }
    .header-menu-content {
      .search-bar {
        transition: all 0.5s;
        &:hover {
          color: #dcbb87;
        }
        .header-top-search-area {
          position: absolute;
          top: 110%;
          right: 220px !important;
          width: 350px;
          right: 0%;
          opacity: 0;
          visibility: hidden;
          z-index: 999;
          transition: all 0.3s;
          .header-search-form {
            position: relative;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            & input {
              padding: 12px 60px 12px 15px;
              border: 1px solid #e5e5e5;
              width: 100%;
              border: none;
              font-size: 14px;
              border-radius: 5px;
              overflow: hidden;
              font-weight: 700;
              color: #3d3d3d;
            }
            .header-search-btn {
              position: absolute;
              top: 0;
              right: 0;
              border: none;
              height: 100%;
              padding: 0 20px;
              background-color: #dcbb87;
              border-radius: 0 5px 5px 0;
              color: #19232d;
            }
          }
          &.active {
            opacity: 1;
            visibility: visible;
            animation-duration: 0.7s;
            animation-name: fadeInUp;
          }
        }
      }
      .header-action {
        a {
          padding: 12px 30px;
          font-weight: 800;
          font-size: 16px;
          display: flex;
          justify-content: center;
          svg {
            transition: all 0.5s;
          }
        }
        a:hover svg {
          fill: #dcbb87;
          transform: rotate(40deg);
        }
      }
      .header-menu {
        .active {
          color: white;
        }
        ul {
          li {
            position: relative;

            a {
              transition: all 0.5s;
            }

            &:hover {
              a {
                color: #dcbb87;
              }

              .sub-menu {
                display: block;
                opacity: 1;
                visibility: visible;
              }
            }
            .sub-menu {
              position: absolute;
              top: 150%;
              left: -11px;
              width: 230px;
              background-color: #1f2e3c;
              opacity: 0;
              visibility: hidden;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              z-index: 9;
              margin-left: 0;
              padding-top: 10px;
              padding-bottom: 10px;
              border-radius: 5px;

              li {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                margin-right: 0;
                padding-right: 0;
                transition: all ease 0.3s;
                position: relative;
                z-index: 2;
                &:last-child {
                  border-bottom: 0px solid;
                }
                a {
                  display: block;
                  padding: 10px 20px;
                  color: white;
                  white-space: nowrap;
                  font-weight: 700;
                  font-size: 14px;
                  transition: background-color 0.3s, color 0.3s;

                  &:hover {
                    background-color: #dcbb87;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
