.login {
  .login-title {
    h2 {
      font-family: 'Playfair Display', sans-serif;
      line-height: 1.3em;
      font-weight: 700;
      font-size: 40px;
    }
  }
  .btn-base {
    border-radius: 5px !important;
    color: #19232d !important;
  }
}
